<h1>Login</h1>

<%= render 'shared/flash_messages' %>

<%= form_tag user_login_path, method: :post do %>
    <div>
        <%= label_tag :email %>
        <%= text_field_tag :email %>
    </div>
    <div>
        <%= label_tag :password %>
        <%= password_field_tag :password %>
    </div>
    <div>
        <%= submit_tag 'Login' %>
    </div>
<% end %>
