<h1>Devices</h1>

<%= render 'shared/flash_messages' %>

<div>
    <%= form_tag activate_user_devices_path, method: :post do %>
        <div>
            <%= label_tag :activation_code %>
            <%= text_field_tag :activation_code %>
        </div>
        <div>
            <%= submit_tag 'activate' %>
        </div>
    <% end %>
</div>