<!DOCTYPE html>
<html>
<head>
    <title>BinderTest</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
</head>
<body>
    <% if logged_in? %>
        <%= render 'shared/welcome_bar' %>
    <% end %>
    <%= yield %>
</body>
</html>
